h4 {
    font-weight: bold;
    margin: 5% 0%;
}

.row h6 {
    padding: 10%;
    font-size: larger;
}
    @media(min-width: 576px) {
        .row h6 {
            text-align: justify;
            padding: 7% 20%;
            border-left: 10px solid #212a32;
        }
    }

.content-block {
    width: 100vw;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 10vh;
}
    .content-block .row:first-child {
        background-color: #e4e4e2;
    }
    .content-block .row.white {
        background-color: white;
        color: #465867;
    }
    .content-block .row.light {
        background-color: #eaecea;
        color: #212a32;
    }
    .content-block .row.semi-dark {
        background-color: #e4e4e2;
        color: #212a32;
    }
    .content-block .row.dark {
        background-color: #c7c7c9;
        color: #000000;
    }
    @media(min-width: 576px) {
        .content-block .row {
            padding: 0% 0%;
        }
    }
    @media(min-width: 992px) {
        .content-block .row {
            min-height: 450px;
        }
            .content-block .row:first-child {
                min-height: 0px;
            }
    }
    .content-block .row .col-sm-6.infoblock {
        padding: 5%;
    }